---
import BaseLayout from "../layouts/BaseLayout.astro";
import ServiceCard from "../components/ServiceCard.astro";
---

<BaseLayout title="Deck Services">

  <h1>Deck Services Chicago</h1>

  <ServiceCard 
    title="Cedar Deck Construction"
    text="Natural timber builds with durability."
  />

  <ServiceCard 
    title="Composite Deck Installation"
    text="Low maintenance modern systems."
  />

</BaseLayout>